@import "./settings";

.layout{
    width: 100%;
    height: 100vh;
    background: $veryDarkBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    .ratingState, .thankYouState{
        padding: 32px;
        width: 20%;
        border-radius: 20px;
        background: rgb(28, 35, 45);
    }
    .ratingState{
        .star{
            padding: 12px;
            background: rgb(37, 47, 54);
            display: flex;
            align-items: center;
            width: 18px;
            justify-content: center;
            border-radius: 18px;
        }
        h1{
            color: $white;
            font-weight: 400;
        }
        p{
            color: $lightGrey;
            line-height: 1.5em;
        }
        ul{
            list-style: none;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            padding: 0;
            gap: 10px;
            li{
                padding: 12px;
                background: rgb(37, 47, 54);
                display: flex;
                align-items: center;
                width: 18px;
                justify-content: center;
                border-radius: 100%;
                color: $lightGrey;
                &:hover{
                    background: $orange;
                    color: $white;
                    cursor: pointer;
                }
            }
        }
        button{
            display: flex;
            width: 100%;
            margin-top: 24px;
            padding: 18px 0;
            justify-content: center;
            border-radius: 48px;
            border: none;
            background: $orange;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1.1em;
            letter-spacing: 4px;
            color: $white;
            &:hover{
                background: $white;
                color: $orange;
                cursor: pointer;
            }
        }
    }
    .thankYouState{
        display: none;
        .img{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            svg{
                margin-bottom: 24px;
            }
            span{
                padding: 8px 16px;
                background: rgb(37, 47, 54);
                border-radius: 24px;
                color: $orange;
                font-weight: 400;
                .dynamiqueRate{
                    padding: 0;
                }
            }
        }
        h2{
            text-align: center;
            color: $white;
            font-weight: 400;
            letter-spacing: 1px;
        }
        p{
            color: $lightGrey;
            font-size: 0.9em;
            text-align: center;
            line-height: 20px;
        }
    }
}

@media screen and (max-width: 1250px) {
    .layout .ratingState, .layout .thankYouState{
        width: 25%;
    }
}
@media screen and (max-width: 1000px) {
    .layout .ratingState, .layout .thankYouState{
        width: 30%;
    }
}
@media screen and (max-width: 830px) {
    .layout .ratingState, .layout .thankYouState{
        width: 40%;
    }
}
@media screen and (max-width: 620px) {
    .layout .ratingState, .layout .thankYouState{
        width: 50%;
    }
}
@media screen and (max-width: 500px) {
    .layout .ratingState, .layout .thankYouState{
        width: 60%;
    }
}
@media screen and (max-width: 415px) {
    .layout .ratingState, .layout .thankYouState{
        width: 70%;
    }
}
@media screen and (max-width: 350px) {
    .layout .ratingState, .layout .thankYouState{
        width: 75%;
    }
}
@media screen and (max-width: 315px) {
    .layout .ratingState, .layout .thankYouState{
        width: 99%;
        margin: 0 auto;
    }
}